<div class="form-group">
    <label {{bind-attr for=input-id }} class="col-sm-2 control-label">{{label}}</label>

    <div class="col-sm-10">
        {{input type="text" value=value id=input-id class="form-control" placeholder=placeholder}}
    </div>
</div>